@import 'nib'

body#landing
    padding-top 30px

body#notfound
    padding-top 30px

.page-header
    padding-bottom 40px

.hidden
    display none

.table-thumbnail
    min-height 30px

#framecontent
    height 500px
    border 1px solid #E4E4E4

.top15
    margin-top 15px
.top30
    margin-top 30px

.bottom15
    margin-bottom 15px
.bottom30
    margin-bottom 30px 

textarea
    resize vertical
    margin-top 25px

.large-font
    font-size 20px

.create-button
    font-size 30px

.title
    margin-bottom 50px

.link-field
    padding 25px 12px
    font-size 23px
    margin-top 40px

.message-field
    font-size 20px
    margin-top 30px

.container .jumbotron
    padding 35px

a
    color inherit
    text-decoration none

a:hover
    color inherit
    text-decoration none

.social:hover
    -webkit-transform scale(1.1)
    -moz-transform scale(1.1)
    -o-transform scale(1.1)

.social
    -webkit-transform scale(0.8)
    -moz-transform scale(0.8)
    -o-transform scale(0.8)
    -webkit-transition-duration 0.5s
    -moz-transition-duration 0.5s
    -o-transition-duration 0.5s

.social-tw:hover
    color #4099FF

.social-gp:hover
    color #d34836

.social-em:hover
    color #f39c12

@media screen and (-webkit-min-device-pixel-ratio:0)
    select:focus, textarea:focus, input:focus
        font-size 20px
        background #fff
